#!/bin/sh
# LOG_MODE: 
#     file: record log to $LOG_FILE
#     syslog: record log to syslog 
LOG_MODE="file"

# LOG_FILE: log file path if $LOG_MODE is 'file'
LOG_FILE="/tmp/bxc_log.txt"

# LOG_DAYS: log content keep days if $LOG_MODE is 'file'
LOG_DAYS=3

# entware install script download url
ENTWARE_INSTALL_URL="http://bin.entware.net/armv7sf-k2.6/installer/generic.sh"

# dependent pakages 
OPKG_PKGS="liblzo zlib libopenssl libltdl libcurl libjson-c"

BXC_DIR="/koolshare/bxc"
BXC_VERSION_FILE="/koolshare/bxc/version"
BXC_NETWORK="/koolshare/bin/bxc-network"
BXC_WORKER="/koolshare/bin/bxc-worker"
BXC_WORKER_PORT="8901"
BXC_TOOL="/koolshare/scripts/bxc-tool.sh"
BXC_PKG="bxc.tar.gz"

BXC_SSL_DIR="/tmp/etc/bxc-network/"
BXC_SSL_CA="/tmp/etc/bxc-network/ca.crt"
BXC_SSL_CRT="/tmp/etc/bxc-network/client.crt"
BXC_SSL_KEY="/tmp/etc/bxc-network/client.key"

BXC_BOUND_URL="https://117.48.224.43/idb/dev"
BXC_UPDATE_URL="https://raw.githubusercontent.com/BonusCloud/BonusCloud-Node/master/bxc.tar.gz"


BXC_EXT_TARGET="www.baidu.com"
BXC_INTF="tun0"

LOG_LEVEL="error"
